body {
    background-color: black;
}
img {
    width:200px
}
.lista-de-imagens{
display: flex;
flex-direction: row;

}

@media screen and (max-width:728px){
    .lista-de-imagens{
        display: flex;
        flex-direction: column;
        
        }

}