.home {
    display: flex;
    flex-direction: row,nowrap;
    justify-content: space-around;
}

.icone-facebook{
    transition: 0.3s ease;
}
.icone-facebook:hover {
   transform: scale(1.2);

}

.facebook2{
    position: absolute;
    top: 18px;
    left: 50px;
    width: 100px;
    height: auto;
   transition:0.3s ease;
   color: white;
}
.facebook2:hover {
    background-color: rgb(63, 63, 233);
    transform: scale(1.2);
    color: rgb(252, 0, 0);
}
.twiter{
   transition: 0.3s ease;
   
}
.twiter:hover{
    transform: scale(1.2);
}
.twiter2 {
   position: absolute;
   top: 10px;
   left: 410px;
   width: 100px;
   height: auto;
   transition:0.3s ease;
   
}
.twiter2:hover{
    background-color: mediumturquoise;
    transform: scale(1.2);
}
.insta{
   transition:0.3s ease;

}
.insta:hover{
    transform: scale(1.2);
}
.instagram2{
    position: absolute;
    top: 18px;
    left: 795px;
    transition: 0.3s ease;
}
.instagram2:hover{
    transform: scale(1.2);
}